.root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 55px;
  row-gap: 55px;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
}

.note {
  --borderColor: #333333;
  --patchColor: #646cff;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 270px;
  border: 7px solid #ffffff;
  box-shadow: inset 2px 2px 0 var(--borderColor), inset -2px -2px 0 var(--borderColor);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: all 0.4s ease;
  transform-origin: 0 0;
  box-sizing: border-box;
  cursor: pointer;
}

.noteTopBorder::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: var(--patchColor) transparent transparent transparent;
  top: -7px;
  left: -7px;
}

.noteTopBorder::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent var(--patchColor) transparent transparent;
  top: -7px;
  right: -7px;
}

.noteBottomBorder::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 40px;
  border-color: transparent transparent transparent var(--patchColor);
  bottom: -7px;
  left: -7px;
}

.noteBottomBorder::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent var(--patchColor) transparent;
  bottom: -7px;
  right: -7px;
}

.videoBlock {
  width: 80%;
  height: auto;
  background: tomato;
  margin-bottom: 70px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.timerProgress {
  padding: 2px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: conic-gradient(#646cff 0deg, white 0deg);
}

.videoElement {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}